*{
    padding: 0%;
    margin: 0%;
     
    font-family: 'Exo', sans-serif;
}
a{
    text-decoration:none;
    color:rgb(6, 81, 255);
    transition: color .15s;
}
a:hover{
    color:rgb(255, 6, 201);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top,rgb(169, 169, 255),rgb(252, 190, 252))
}


@media(min-width:425px){


.note {
    margin-top: 3vw;
    max-width: 85%;
    background-color: antiquewhite;
    padding: 2vw;
    border-radius: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    
   
}

p{
    font-size: 3vw;
}
img{
    margin-top: 3vw;
    
    width: 90%;
    border-radius: 15px;
    
    
    transition: all .6s;

}


.bottom-buttons{
    margin-top: 8vw; 
    
    margin-bottom: 15vh;
    display: flex;
    gap: 2vw;
}
.bottom-buttons a{
    font-size: 3vw;
    color: black;
    padding: 1vw;
    background: antiquewhite;
    border-radius: 1vw;
    text-decoration: none;
    transition: all .5s;
}
.bottom-buttons a:hover{
    background: rgb(0, 0, 0);
    color: aliceblue;
}
.top{
    color: rgb(116, 116, 116);
    font-size: 3vw;
    font-style: italic;
    gap:3vw;
    
}

.duration{
    font-style: normal;
    font-size: 3vw;
    background: rgb(255, 214, 161);
    color: rgb(0, 0, 0);
    padding: 1vh;
    border-radius: 1vw;
    transition: all .2s;

}
.duration:hover{
    background: rgb(255, 205, 141);
}


}

@media(max-width:425px){
   img{
        margin-top: 4vw;
        width: 80%; 
        border-radius: 4vw;
   }
  
   .note{
        font-size: 8vw;
        max-width: 90%;
        margin-top: 5vw;
        padding: 2vw;
        background: antiquewhite;
        border-radius: 1.5vw;
   }
   .top{
    
   font-size: 3vw;
}
   .duration{
    background: rgb(255, 214, 161);
    margin-top:2vw;
    padding: 1vw;
    border-radius: 1vw;
   }

   .bottom-buttons{
       
       margin-top: 8vw;
       margin-bottom: 5vw;
   }
   .bottom-buttons a{
       font-size: 8vw;
        background: antiquewhite;
        margin: 3vw;
        padding: 3vw;
        border-radius: 1.5vw;
        color: black;
        transition: all .5s;
   }
   .bottom-buttons a:hover{
    background: rgb(0, 0, 0); 
    color: white;
   }
}

@keyframes bob{
    0%{transform: translateY(0px) rotateZ(-.01deg);}
    50%{transform: translateY(-3px) rotateZ(.01deg);}
    100%{transform: translateY(0px) rotateZ(-.01deg);}
}

@keyframes bob2{
    0%{transform: translateY(0px) rotateZ(.01deg) ;}
    50%{transform: translateY(-3px) rotateZ(-.01deg);}
    100%{transform: translateY(0px) rotateZ(.01deg);}
}
