*{
    padding: 0%;
    margin: 0%;
     
    font-family:'Courier New', Courier, monospace;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top,rgb(169, 169, 255),rgb(252, 190, 252))
}
.note {
    margin-top: 3vw;
    max-width: 80%;
    background-color: antiquewhite;
    padding: 2vw;
    border-radius: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
   
}

p{
    font-size: 3vw;
}
img{
    margin-top: 3vw;
    
    width: 70%;
    border-radius: 15px;
    
    transition: all .6s;
}
img:hover{
    -webkit-transform:translateY(-1vw);
    transform: translateY(-1vw);
    
}

.bottom-buttons{
    margin-top: 8vw; 
    
    margin-bottom: 15vh;
    display: flex;
    gap: 2vw;
}
.bottom-buttons a{
    font-size: 3vw;
    color: black;
    padding: 1vw;
    background: antiquewhite;
    border-radius: 1vw;
    text-decoration: none;
    transition: all .5s;
}
.bottom-buttons a:hover{
    background: rgb(0, 0, 0);
    color: aliceblue;
}
.top{

    font-size: 3vw;
    font-style: italic;
    gap:3vw;
}

.duration{
    font-style: normal;
    font-size: 3vw;
    background: rgb(255, 214, 161);
    color: rgb(0, 0, 0);
    padding: 1vh;
    border-radius: 1vw;
    transition: all .2s;
}
.duration:hover{
    background: rgb(253, 203, 138);
}
a{
    text-decoration:none;
    color:rgb(255, 6, 201);
    transition: color .15s;
}
a:hover{
    color:rgb(6, 180, 255);
}