@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//$theme1 :rgb(138, 208, 255);
$theme1 :#FEF9A7;

//$theme2 :rgb(138, 255, 220);
$theme2 :#FAC213;

//$theme3 :rgb(181, 255, 138);
$theme3 :#F77E21;

//$theme4 :rgb(243, 255, 138);
$theme4 :#D61C4E;

//$theme5 :rgb(255, 160, 96);
$theme5 :#d61c1c;



$theme6 :#080808;
$theme7 :#011624;

*{
  font-family: 'Kufam', sans-serif;
  padding: 0%;
  margin: 0%;
}

body{
  background: linear-gradient(to bottom,$theme6,$theme7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 4vh;
}
.contact{
    display: flex;
    overflow: hidden;
   
    flex-direction: column;
    gap: 4vw;
    h1{
      font-size:2em;
      color: aliceblue;
    }
    div{
        
      background: $theme2;
      height: fit-content;
      width: fit-content;
      border-radius: 1vh;
   
    }
    form{
      
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      padding: 2vw;
      input{
        width: 40vw;
        
        border-radius: 1vh;
        border: solid .1vh;
        padding: 1vh;
        
      }
      button{
        
        height: 8vh;
        width: 30vw;
        border-radius: 1vw;
        border: solid .1vh;
        
        background-color: $theme3;
        transition: background-color 1s cubic-bezier(0, 0.5, 0.6, 1);
        &:hover{
          background-color: $theme5;
          
        }
      }
      
    }
    
  }

  a{
    text-decoration: none;
    color: $theme2;
    transition: all .3s;
    &:hover{
      color: adjust-hue($color: $theme2, $degrees: 50);
    }
  }