*{
padding: 0%;
margin: 0%;
font-family: 'Exo', sans-serif;
}

.t1{
    text-align: center;
    font-size: 10vw;
    padding-top: 15vh;
    color: rgb(255, 255, 255);
    
}

.socials img{
    width: 10vw;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
.socials img:hover{
    
    
    transform: scale(105%);
}
.socials{
    width: 80%;
    padding-top: 10vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
}
body{
    padding-bottom: 20vh;
    height: 100vh;
    background: linear-gradient(to top, hsl(39, 60%, 50%) ,hsl(315, 60%, 50%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

