*{
    margin: 0%;
  
    
}

body{
    display: grid;
    justify-content: center;
    align-items: center;
    
    background-image: radial-gradient(#ff9999 20%, transparent 20%), radial-gradient(#a0f4ff 20%, transparent 20%);
    background-color: #ffffff;
    animation-name: bg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: 100px 100px;
    font-family: 'Righteous', cursive;
    
}

.text{
    margin-top: 12vh;
    padding: 8vh;
    border-radius: 30px;
    background-color: #6a6ae6;  
    transition: all .5s ;
 
}

.text:hover{
    border-radius: 50px;
   
    
}

button{
    border-style:none;
    margin-top: .5rem;
    height: 2rem;
    
    
    border-radius: 10px;
    background: rgb(78, 229, 240);
    transition: all .4s;
    font-family: 'Righteous', cursive;
    font-size: 1em;
}

button:hover{
    height: 2.5rem;
    background: rgb(78, 240, 218) ;
    border-radius: 7px;
}


.homebutton{
    height: 10vh;
    width: 20vh;
    background: orangered;
    border-radius: 5px;
    margin-left: 0;
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4em;
    transition: all .7s;
    
}

.homebutton:hover{

    height: 12vh;
    width: 22vh;
    background: rgb(116, 57, 255);
}

.score{
    padding-top: 1rem;
    font-family: 'Share Tech Mono', monospace;
}

.buttons{
    margin-top: 1.2rem;
    display: grid;
}
@keyframes bg{
    0% {background-position: 0 100px, 50px 0;
        
    }
    
    100% {background-position: 200px 400px, 150px 300px;
        
    }
}