/*Mobile*/
@media(max-width:425px) {
    *{
        margin: 0%;
        padding: 0%;
        font-family: 'Exo', sans-serif;
    }
    .navbar{
        position: fixed;
        background-color: rgb(24, 24, 24);
        max-height: 20vh;
        padding: 1vh;
        display: flex;
        align-items: center;
        justify-content:safe;
        padding-left: 1vw;
        width:100vw ;
       
    }
    .navbar-button{
        
        margin-left: .3em;
        background-color: rgb(255, 255, 255);
        padding-top: .5vh;
        padding-bottom: .5vh;
        border-radius:.1em;
        

        
    }
    .navbar-button-link{
        font-size: 5vw;
        font-weight: 500;
        color: rgb(7, 7, 7);
        text-decoration: none;

    }
    .s1{
        height: 200vh;
        background-color: rgb(12, 12, 12);
        display: flex;
        padding-top: 20vh;
        padding-left: 1vw;
        font-size: 20vw;
        color: rgb(125, 226, 43);
    }
 
   
}
/*Desktop*/
@media (min-width :425px){
*{
    margin: 0%;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

.navbar{
    height: 10vh;
    width: 100vw;
    background: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: safe;
    padding-right: 1vw;
    position: fixed;
    padding-left: 2vw;
}


.navbar-button{
    height: 9vh;
    width: 9vh;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-left: 1vw;
}
.navbar-button-link{
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
 /*Navbar*/
.s1{
    padding-left: 2vw;
    background-color: rgb(39, 39, 39);
    height: 120vh;
    display: flex;
    align-items: center;
    font-size: 10em;
    line-height:1.4em;
    color: rgb(123, 100, 255);
    
}

.s2{
    height: 100vh;
    background-color: rgb(126, 126, 126);
}   
}



