@import './themes.scss';
*{
    margin: 0%;
    font-family: monospace;    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
img{
    position: fixed;
    height: 150vh;
    transform: translateX(-50%);
    filter: blur(20px);
    
}
#MAIN{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    h1{
        font-size: 8vh;
    }
    section{
  
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        a{
            font-size: 6vh;
            text-decoration: none;
            color: aliceblue;
            background: linear-gradient(to top left,$theme3,$theme4);
            padding: 2vh 3vh;
            border-radius: 2vh;
            transition: transform .3s cubic-bezier(0.23, 1, 0.320, 3);
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}



#Under{
animation: blink 2s cubic-bezier(1, 0, 1, 1) 0s infinite ;
}
@keyframes blink {
    0%{
        opacity: 0%;
        display: none;
    }
    50%{
        opacity: 100%;
        display: block;
    }
    100%{
        opacity: 0%;
        display: none;
    }
}