* {
  padding: 0%;
  margin: 0%;
  font-family: 'Exo', sans-serif;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vw;
  max-width: 100vw;
  background: #290e00;
}

.hero img {
  height: 40vw;
  border-radius: 25%;
  margin-right: 3vw;
  -webkit-box-shadow: 0vw 0vw 0vw 0vw #ff8341;
          box-shadow: 0vw 0vw 0vw 0vw #ff8341;
  -webkit-transition: -webkit-box-shadow .6s;
  transition: -webkit-box-shadow .6s;
  transition: box-shadow .6s;
  transition: box-shadow .6s, -webkit-box-shadow .6s;
  z-index: 1;
}

.hero img:hover {
  -webkit-box-shadow: -10vw 10vw 0vw 0vw #ff8341;
          box-shadow: -10vw 10vw 0vw 0vw #ff8341;
}

.hero h1 {
  z-index: 2;
  margin-left: 5vw;
  color: white;
  font-size: 8vw;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.s1 {
  color: aliceblue;
  max-width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2vw;
  background: #ff8341;
}

.s1 h3 .WD {
  color: black;
}

.s1 h3 .CE {
  color: black;
}

.s1 h3 .ART {
  color: black;
}

.s1 .animated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

.s1 .animated .animated2 {
  margin-right: 5vw;
  margin-left: 5vw;
  border: solid 1vw black;
  border-radius: 20%;
  height: 20vw;
  width: 20vw;
  background: #00ffe5;
  -webkit-animation: an1;
          animation: an1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-size: 4vw;
  padding: 2vw;
}

@-webkit-keyframes an1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes an1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
  background: blanchedalmond;
  min-height: 100vh;
}

.work h1 {
  margin-left: 2vw;
  font-size: 7vw;
}

.work h1 span {
  color: #ff00c8;
  -webkit-animation: glow;
          animation: glow;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0vw 0vw 0vw white;
  }
  50% {
    color: white;
    text-shadow: 0vw 0vw 2vw #ff00c8;
  }
  100% {
    text-shadow: 0vw 0vw 0vw white;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0vw 0vw 0vw white;
  }
  50% {
    color: white;
    text-shadow: 0vw 0vw 2vw #ff00c8;
  }
  100% {
    text-shadow: 0vw 0vw 0vw white;
  }
}

.work div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
  margin-top: 4vw;
}

.work div img {
  image-rendering: optimizeSpeed;
  height: 40vw;
  border-radius: 5vw;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.work div img:hover {
  -webkit-transform: translateY(-1vw);
          transform: translateY(-1vw);
}

.work div .statuses {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
}

.work div .statuses .status {
  width: 45vw;
  height: auto;
}

.work div .skills {
  width: 90vw;
  padding-bottom: 5vw;
  border-radius: 5vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#1b1b1b));
  background: linear-gradient(to top, #181818, #1b1b1b);
}

.work div .skills .software {
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 4vw;
  color: aliceblue;
}

.work div .skills .software .ae {
  color: black;
  background: white;
  height: 10vw;
  width: 50vw;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0vh 0vh 5vw #0800ff;
          box-shadow: 0vh 0vh 5vw #0800ff;
}

.work div .skills .software .bd {
  color: black;
  background: white;
  height: 10vw;
  width: 80vw;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0vh 0vh 5vw #ff9500;
          box-shadow: 0vh 0vh 5vw #ff9500;
}

.work div .skills .software .pp {
  color: black;
  background: white;
  height: 10vw;
  width: 50vw;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0vh 0vh 5vw #ff00c8;
          box-shadow: 0vh 0vh 5vw #ff00c8;
}

.work div .skills .software .percent {
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  font-size: 4vw;
}

.work .moreImg {
  text-decoration: none;
  font-size: 6vw;
  background: #6750ff;
  color: black;
  margin-top: 8vw;
  padding: 1vw;
  border-radius: 15px;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-bottom: 2vw;
}

.work .moreImg:hover {
  -webkit-transform: translate(1vw, -1vw);
          transform: translate(1vw, -1vw);
  -webkit-box-shadow: -2vw 2vw 0vw 0vw #ff8341;
          box-shadow: -2vw 2vw 0vw 0vw #ff8341;
}

.work .moreImg2 {
  text-decoration: none;
  font-size: 6vw;
  background: #0095ff;
  color: black;
  margin-top: 0vw;
  padding: 1vw;
  border-radius: 15px;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-bottom: 10vw;
}

.work .moreImg2:hover {
  -webkit-transform: translate(1vw, -1vw);
          transform: translate(1vw, -1vw);
  -webkit-box-shadow: -2vw 2vw 0vw 0vw #fff200;
          box-shadow: -2vw 2vw 0vw 0vw #fff200;
}

.work .space {
  margin-top: 5vw;
}

.work .end {
  height: .6vw;
  margin-top: 25vw;
}

@media (max-width: 425px) {
  .s1 {
    height: 40vh;
    padding-left: 20px;
  }
  .work div img {
    width: 80vw;
    height: auto;
  }
  .work div .skills {
    width: 90vw;
    padding-bottom: 5vw;
    border-radius: 5vw;
    background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#1b1b1b));
    background: linear-gradient(to top, #181818, #1b1b1b);
  }
  .work div .skills .software {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 4vw;
    color: aliceblue;
  }
  .work div .skills .software .ae {
    color: black;
    background: white;
    height: 10vw;
    width: 50vw;
    border-radius: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0vh 0vh 5vw #0800ff;
            box-shadow: 0vh 0vh 5vw #0800ff;
  }
  .work div .skills .software .bd {
    color: black;
    background: white;
    height: 10vw;
    width: 70vw;
    border-radius: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0vh 0vh 5vw #ff9500;
            box-shadow: 0vh 0vh 5vw #ff9500;
  }
  .work div .skills .software .pp {
    color: black;
    background: white;
    height: 10vw;
    width: 50vw;
    border-radius: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0vh 0vh 5vw #ff00c8;
            box-shadow: 0vh 0vh 5vw #ff00c8;
  }
  .work .space {
    height: 10vh;
  }
}
/*# sourceMappingURL=index.css.map */