
$shadow:rgb(255, 131, 65);

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Exo', sans-serif;    
}

.hero{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120vh;
    max-width: 100vw;
    background: hsl(191, 98%, 32%);
    img{
        height: 40vw;
        border-radius: 25%;
        margin-right: 3vw;
        box-shadow: -0vw 0vw 0vw 0vw $shadow;
        transition: box-shadow .6s;
        z-index: 1;
        
        &:hover{
            box-shadow: -10vw 10vh 0vw 0vw $shadow ; 
    
          
            }
        }
    h1{
        z-index:2;
        margin-left: 5vw;
        color: rgb(255, 255, 255);
        font-size:8vw;
        
       
    }
}


.work{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2vw;
    padding-bottom: 4em;
    background: linear-gradient(to bottom,rgb(234, 214, 255),rgb(26, 158, 86));
    min-height: 100vh;
    h1{
        
        font-size: 7vw;
        text-align: center;
       
        span{
            color: rgb(136, 0, 255);
            
            
        }
       
        
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
        
        width: 100vw;
        
        .tile{
            
            height: 40vw;
            width: auto;
            
            border-radius:6vw;
       
            
            
          
        }
        .statuses{
            display:grid;
            align-items: center;
            justify-content: center;
            grid-auto-flow: column;
            
            .status{
                width: 45vw;
                height: auto;
            }
        }

       
    
    }
    .moreImg{
        text-decoration: none;
        font-size: 6vw;
        background: rgb(103, 80, 255);
        color: black;
        margin-top: 4vw;
        margin-bottom: 10vw;
        padding: 1vw;
        border-radius: 15px;
        transition: all .4s;
        
        &:hover{
            transform: translate(1vw, -1vw);
            box-shadow: -2vw 2vw 0vw 0vw $shadow;
        }
    }
    .moreImg2{
        text-decoration: none;
        font-size: 6vw;
        background: rgb(0, 149, 255);
        color: black;
        margin-top: -6vw;
        padding: 1vw;
        border-radius: 15px;
        transition: all .4s;
        margin-bottom: 12vw;
        &:hover{
            transform: translate(1vw, -1vw);
            box-shadow: -2vw 2vw 0vw 0vw rgb(255, 242, 0);
        }
       
    }
   
}



hr {
    border: 0;
  
    clear:both;
    display:block;
    width: 96%;               
    background-color:#000000;
    height: 3px;
  }
@media(max-width:425px) {
    .hero{
        flex-direction: column-reverse;
        justify-content: center;
     
        gap: 5vh;

        h1{
            font-size: 15vw;
           
            
        }
        
        img{
            width: 80vw;
            height: auto;
            &:hover{
                box-shadow: -0vw 0vh 0vw 5vw $shadow !important ; 
        
              
                }
        }
    }
    .statuses{
        display:flex !important;
        align-items: center ;
        justify-content: center;
            
            
        .status{
            width: 80vw !important;
         
        }
    }
    h1{
        text-align: center;
    }
    .noMobile{
        visibility: collapse;
    }
    .tile{
        width:80vw !important;
        height: auto !important;
    }
}
