@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  padding: 0%;
  margin: 0%;
}
@media (max-width: 425px) {
  * {
    image-rendering: optimizeSpeed;
  }
}
@media (min-width: 425px) {
  * {
    image-rendering: optimizeQuality;
  }
}

body {
  font-family: "Kufam", sans-serif;
  background: linear-gradient(to bottom, #080808, #011624);
}

#showreel {
  overflow: hidden;
}
#showreel video {
  width: 100vw;
}

.NAME {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20vh 0vh;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive !important;
}
.NAME span {
  font-family: "Bangers", cursive;
  color: #D61C4E;
  font-size: 12vw;
  letter-spacing: 0.5vw;
  text-shadow: 0.7vw 0.7vw #FAC213;
}

.Hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: left;
  font-size: 3vw;
  color: aliceblue;
}
@media (mAX-width: 425px) {
  .Hero {
    flex-direction: column-reverse;
  }
  .Hero div {
    flex-direction: column-reverse;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 2vh 1vh !important;
    text-align: center;
    gap: 4vh;
  }
}
.Hero div {
  background: #080808;
  border-radius: 2vh;
  display: flex;
  width: 100vw;
  gap: 2vh;
  padding: 6vh 0vh;
  align-items: center;
  justify-content: center;
  border: 0.2vh solid rgb(255, 255, 255);
  box-shadow: 0vh 0vh 2vh 0.1vh #F77E21;
}
.Hero .Name {
  font-family: "Bangers", cursive;
  color: #D61C4E;
  font-size: 1.4em;
  letter-spacing: 0.2vw;
  text-shadow: 0.05em 0.05em #FAC213;
}
.Hero .compEngg {
  color: #FAC213;
  font-size: 1.3em;
}
.Hero .Art {
  color: #d61c1c;
  font-size: 1.3em;
}
.Hero img {
  height: 10em;
  border-radius: 50%;
  box-shadow: 2vw 2vw 0 1vw rgb(0, 0, 0);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Hero img:hover {
  transform: translate(-10px, -10px);
  box-shadow: 4vw 4vw 0px -2vw rgb(0, 0, 0);
}

.section2 {
  min-height: 30vh;
  font-size: 7vw;
  padding: 2vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vw;
  padding-top: 20vw;
  overflow: hidden;
  color: rgb(255, 255, 255);
}
.section2 span {
  font-family: "Bangers", cursive;
  color: #D61C4E;
  font-size: 12vw;
  letter-spacing: 0.5vw;
  text-shadow: 0.7vw 0.7vw #FAC213;
}

a {
  text-decoration: none;
  color: #FAC213;
  transition: all 0.3s;
}
a:hover {
  color: #72fa13;
}

.footer {
  margin-top: 4vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 1vh;
  align-items: center;
  background: hsl(234deg, 100%, 4%);
  gap: 1vw;
  max-width: 100vw;
  min-height: 6vh;
}
.footer a {
  font-size: 1em;
  font-weight: 100;
}
@media (max-width: 425px) {
  .footer a {
    font-size: 0.2em;
    gap: 4vw;
    margin-top: 4vh;
    max-height: 1vh !important;
  }
}

.work {
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 2vw;
}
.work picture {
  max-width: 80vw;
  max-height: 80vh;
}
.work .workMedia {
  padding: 0.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, #F77E21, #d61c1c);
  border-radius: 4vh;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 3), padding 0.4s cubic-bezier(0.23, 1, 0.32, 2), border-radius 0.4s cubic-bezier(0.23, 1, 0.32, 3), box-shadow 0.4s cubic-bezier(0.23, 1, 0.32, 3);
}
@media (max-width: 425px) {
  .work .workMedia {
    padding: 0.3rem !important;
  }
  .work .workMedia picture {
    max-width: 60vw !important;
    max-height: 80vh !important;
  }
  .work .workMedia picture img {
    max-width: 60vw !important;
    max-height: 80vh !important;
  }
}
@media (min-width: 425px) {
  .work .workMedia:hover {
    transform: scale(1.01);
    border-radius: 7vh;
    box-shadow: 0vh 0vh 10vh black;
  }
  .work .workMedia:hover img {
    border-radius: 7vh;
    filter: saturate(100%) contrast(100%) blur(0px);
    transform: scale(0.955);
  }
}
.work img {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 4vh;
}
@media (min-width: 425px) {
  .work img {
    filter: saturate(0%) contrast(80%) blur(2px);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 2) 0.05s, filter 0.3s ease-out, border-radius 0.4s cubic-bezier(0.23, 1, 0.32, 3);
  }
}

#imageCont {
  z-index: 3;
  position: fixed;
  top: 0%;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  -webkit-backdrop-filter: blur(10px) saturate(0);
          backdrop-filter: blur(10px) saturate(0);
}
#imageCont div {
  padding: 0.8vh;
  flex-direction: row-reverse;
  border-radius: 4vh;
  background: linear-gradient(to right top, #F77E21, #d61c1c);
  box-shadow: 0vh 0vh 15vh 5vh black;
}
#imageCont img {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 4vh;
  image-rendering: optimizeQuality;
}

#close {
  z-index: 1;
  position: absolute;
  width: 8vh;
  height: 8vh;
  transform: translate(-4vh, -4vh);
  border-style: none;
  box-shadow: 0vh 0vh 0vh 0.5vh rgb(255, 255, 255);
  background: #D61C4E;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 2), box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 3) 0s;
}
#close:hover {
  transform: translate(-4vh, -4vh) scale(1.1);
  background: #D61C4E;
  box-shadow: 0vh 0vh 0vh 1vh rgb(255, 255, 255);
}