

*{
    margin: 0;
    padding: 0;
    
    
}
body{
    background: black;
}

.Top{
    color: aliceblue;
    font-size:11vw;
    padding-left: 1vw;
    margin-left: 2vw;
        
}

.myName{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(to right top, #58b5f3,#796bfa);
    
    border-radius: 5vw;
    padding: 2vw;
    margin-right: 10vw;
    margin-left: 1vw;
    
    
    
} 

.t1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-left: 1vw;
    
    position:absolute;                 
    bottom:0;                         
    left:0;

    color: rgb(255, 255, 255);
    font-size: 4.5vw;
}
.section1{
    background: black;
}
.section2{
    position: relative;
    background: black;
    height: 100vh;
}

.Buttons{
    height: 10vh;
    width: 100vw;
    background: #58b5f3;
   
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.button{
    position: relative;
    
    height: 6vh;
    width: 20vw;
    background: #58b5f3;
    border-radius: 2vh;
    transition: all 0.6s;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  

}


.button:hover{
    width: 27vw;
    background: #ffffff;
}