//$theme1 :rgb(138, 208, 255);
$theme1 :#FEF9A7;

//$theme2 :rgb(138, 255, 220);
$theme2 :#FAC213;

//$theme3 :rgb(181, 255, 138);
$theme3 :#F77E21;

//$theme4 :rgb(243, 255, 138);
$theme4 :#D61C4E;

//$theme5 :rgb(255, 160, 96);
$theme5 :#d61c1c;

$theme51 :#304add;


$theme6 :#080808;
$theme7 :#011624;
$theme8 :rgb(255, 255, 255);

$radius:4vh;