@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  background-color: #111111;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Hero {
  min-height: 120dvh;
  color: aliceblue;
}
#Hero h1 {
  padding: 1rem;
  font-weight: 900;
  font-size: 8em;
}
#Hero ul {
  font-size: 1.2em;
  padding: 2.3rem;
}
#Hero li {
  text-indent: 2rem;
}

::-webkit-scrollbar {
  background: #111111;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFF971;
}

#Content {
  background-color: #FFF971;
  padding: 5vw;
  display: flex;
  justify-content: center;
}

#ContentBox {
  --size:12rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#ContentBox .blog {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  border: solid 1px rgb(255, 255, 255);
  box-shadow: 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.589);
  width: var(--size);
  height: 15rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #0B0B0B;
  transition: 0.2s;
  overflow: hidden;
}
#ContentBox .blog img {
  top: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
#ContentBox .blog h2 {
  transition: 0.3s;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5ch;
  text-align: center;
  font-size: 0.9em;
}
#ContentBox .blog:hover {
  scale: 1.04;
}
#ContentBox .blog:hover img {
  top: -10px;
  scale: 1.02;
}

#MailingList {
  width: 100%;
  min-height: 120dvh;
  display: grid;
  place-items: center;
}
#MailingList #MailingCard {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2rem;
  width: min(80vw, 50rem);
  background: #070707;
}
#MailingList #MailingCard h2 {
  color: white;
  font-size: 2.3em;
}
#MailingList #MailingCard form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#MailingList #MailingCard form #Name, #MailingList #MailingCard form #Email, #MailingList #MailingCard form #Button {
  width: 100%;
  height: 4em;
  border: none;
}
#MailingList #MailingCard form #Name, #MailingList #MailingCard form #Email {
  background-color: hsl(0deg, 0%, 2%);
  border-radius: 2em;
  text-indent: 1rem;
  outline: 1px solid rgba(53, 53, 53, 0.425);
  color: white;
}
#MailingList #MailingCard form #NotARobot {
  box-sizing: border-box;
  margin-top: 1em;
  background-color: #000000;
  height: 4em;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  gap: 1em;
}
#MailingList #MailingCard form #NotARobot input {
  box-sizing: border-box;
  width: 10%;
  padding: 1rem;
}
#MailingList #MailingCard form #NotARobot h2 {
  font-weight: 200;
  font-size: 0.9em;
}
#MailingList #MailingCard form #Button {
  font-weight: 900;
  font-size: 1.2em;
  margin-top: 1em;
  background-color: #FFF971;
  transition: 0.2s;
}
#MailingList #MailingCard form #Button:hover {
  background-color: white;
}

.unHighlight {
  font-weight: lighter;
  color: rgb(189, 189, 189);
}

.Highlight {
  color: #FFF971;
}

#footer {
  color: white;
  margin: 0.2rem;
  font-weight: 100;
}

.sticker {
  pointer-events: none;
  transition: 0.2s;
  opacity: 1;
  mix-blend-mode: difference;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  width: 5rem;
  height: 5rem;
  transform: translate(-2.5rem, -2.5rem);
}

@media (max-width: 400px) {
  #Hero {
    min-height: 120dvh;
    color: aliceblue;
  }
  #Hero h1 {
    padding: 1rem;
    font-weight: 900;
    font-size: 20vw;
  }
  #Hero ul {
    font-size: 1.2em;
    padding: 2.3rem;
  }
  #Hero li {
    text-indent: 2rem;
  }
  ::-webkit-scrollbar {
    background: #111111;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #FFF971;
  }
  #Content {
    background-color: #FFF971;
    padding: 10rem;
    display: flex;
    justify-content: center;
  }
  #ContentBox {
    --size:80vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  #ContentBox .blog {
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255);
    box-shadow: 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.589);
    width: var(--size);
    height: 100vw;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #0B0B0B;
    transition: 0.2s;
    overflow: hidden;
  }
  #ContentBox .blog img {
    top: 0;
    position: relative;
    width: var(--size);
    height: var(--size);
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.2s;
  }
  #ContentBox .blog h2 {
    transition: 0.3s;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5ch;
    text-align: center;
    font-size: 0.9em;
  }
  #ContentBox .blog:hover {
    scale: 1.04;
  }
  #ContentBox .blog:hover img {
    top: -10px;
    scale: 1.02;
  }
  #MailingList {
    width: 100vw;
    min-height: 120dvh;
    display: grid;
    place-items: center;
  }
  #MailingList #MailingCard {
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2rem;
    width: 90%;
    background: #070707;
  }
  #MailingList #MailingCard h2 {
    color: white;
    font-size: 2.3em;
  }
  #MailingList #MailingCard form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #MailingList #MailingCard form #Name, #MailingList #MailingCard form #Email, #MailingList #MailingCard form #Button {
    width: 100%;
    height: 4em;
    border: none;
  }
  #MailingList #MailingCard form #Name, #MailingList #MailingCard form #Email {
    background-color: hsl(0deg, 0%, 2%);
    border-radius: 2em;
    text-indent: 1rem;
    outline: 1px solid rgba(53, 53, 53, 0.425);
    color: white;
  }
  #MailingList #MailingCard form #NotARobot {
    box-sizing: border-box;
    margin-top: 1em;
    background-color: #000000;
    height: 4em;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 1em;
  }
  #MailingList #MailingCard form #NotARobot input {
    box-sizing: border-box;
    width: 10%;
    padding: 1rem;
  }
  #MailingList #MailingCard form #NotARobot h2 {
    font-weight: 200;
    font-size: 0.9em;
  }
  #MailingList #MailingCard form #Button {
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 1em;
    background-color: #FFF971;
    transition: 0.2s;
  }
  #MailingList #MailingCard form #Button:hover {
    background-color: white;
  }
  .unHighlight {
    font-weight: lighter;
    color: rgb(189, 189, 189);
  }
  .Highlight {
    color: #FFF971;
  }
  #footer {
    color: white;
    margin: 0.2rem;
    font-weight: 100;
  }
  .sticker {
    pointer-events: none;
    transition: 0.2s;
    opacity: 1;
    mix-blend-mode: difference;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 0;
    width: 5rem;
    height: 5rem;
    transform: translate(-2.5rem, -2.5rem);
  }
}