@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0%;
}
* ::-webkit-scrollbar {
  display: none;
}
* ::-moz-selection {
  background: #22c0c0;
  color: rgb(0, 30, 30);
}
* ::selection {
  background: #22c0c0;
  color: rgb(0, 30, 30);
}

:root {
  --accent:#9fe46e;
  --accent2:#01fff7;
  --accent3:#ff71ee;
  --bg: #010101;
}

body {
  background: var(--bg);
}

nav {
  z-index: 3;
  width: 99vw;
  position: fixed;
  font-size: 1.5rem;
  color: var(--accent);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 0.5vw;
  font-family: "Cinzel", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  display: flex;
}
nav a {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 1, "opsz" 48;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  text-decoration: none;
}
nav a:hover {
  color: white;
  font-variation-settings: "FILL" 1, "wght" 4000, "GRAD" 0, "opsz" 48 !important;
}
nav li {
  list-style: none;
}

a, img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

@media (max-width: 500px) {
  #hero {
    text-align: center;
    justify-content: center !important;
    flex-direction: column-reverse;
  }
  #hero div {
    justify-content: center;
  }
}
#hero {
  font-family: "Titillium Web", sans-serif;
  margin: auto;
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#hero #lhero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
#hero #lhero #name {
  color: var(--accent);
  font-family: "Cinzel", serif;
}
#hero #lhero #dev {
  color: var(--accent2);
  font-family: "ubuntu-mono", monospace;
}
#hero #lhero #artist {
  color: var(--accent3);
  font-family: "Fredoka One", cursive;
}
#hero #lhero p {
  font-size: min(3rem, 5vw);
  white-space: nowrap;
}
#hero #lhero div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#hero #lhero a {
  border-radius: 0.5rem;
  font-size: min(1.5rem, 2.8vw);
  border: 0.01px solid white;
  padding: 0.6rem;
  text-decoration: none;
  color: aliceblue;
  transition: color, background-color;
  transition-duration: 0.2s;
}
#hero #lhero a:hover {
  color: var(--bg);
  background: var(--accent);
}
#hero #rhero img {
  border-radius: 0.5rem;
  height: min(60vh, 60vw);
  transition: 0.2s;
  rotate: 3deg;
}
#hero #rhero img:hover {
  scale: 1.05;
  rotate: 0deg;
}

#showreel {
  margin-bottom: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
#showreel video {
  position: relative;
  border-radius: 0.5rem;
  width: 70vw;
}
#showreel h1 {
  font-family: "Cinzel", serif;
  position: relative;
  text-align: end;
  color: var(--accent);
  font-size: 4vw;
}

@media (min-width: 501px) {
  #showreel video {
    left: 8vh;
  }
  #showreel h1 {
    left: -8vh;
  }
}
@media (max-width: 500px) {
  #showreel {
    align-items: center !important;
    flex-direction: column-reverse;
    justify-content: center !important;
  }
  #showreel h1 {
    font-size: 8vw;
    text-align: center !important;
  }
  #showreel video {
    width: 90vw;
  }
}
.project {
  border-radius: 2vw;
  box-shadow: 1vw 1vw var(--accent);
}

#top H1 {
  background: var(--accent);
}