*{
    margin: 0%;
    ::-webkit-scrollbar{
        display: none
    }
    ::selection{
        background: #22c0c0;
        color:rgb(0, 30, 30)
        
    }
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&display=swap');

:root{
    --accent:#FFF971;
}
body{
    background: #111111;
}
nav{
 

    font-size: 1.5rem;
    color: var(--accent);

padding: .5rem;
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        align-items: center;

        justify-content: space-between;
        gap: 1rem;
        display: flex;
    }
    a{
        text-decoration: none;
        color:inherit;
        transition: color .1s;
        :hover{
            color: white;
        }
    }
    li{
        
        list-style: none;

    }
}

#hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    justify-content: space-around;
    #lhero{

        display: flex;
        flex-direction: column;
        gap: 2rem;
    color: white;
    p{
        font-size: min(3rem,5vw);
    }
    a{
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
        font-size: min(1rem,2vw);
        border: .01px solid white;
       padding: .6rem;
        border-radius: .1rem;
        text-decoration: none;
        color: aliceblue;
        transition: color ,background-color ;
        transition-duration: .3s;
        &:hover{
color: #111111;
            background: #FFF971;
        }
    }
    }
    #rhero{
        img{
            border-radius: .5rem;
            height: min(70vh, 60vw);
        }
    }
}

