*{
    margin: 0%;
    ::-webkit-scrollbar{
        display: none
    }
    ::selection{
        background: #22c0c0;
        color:rgb(0, 30, 30);
     

    }
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --accent:#9fe46e;
    --accent2:#01fff7;
    --accent3:#ff71ee;
    --bg: hsl(162, 100%, .1%);
    --radius:.4rem;
}
#BodyBackground{
    opacity: 5%;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../Media/Graphics/Graph.svg");
    background-size: 30px;
}
body{
    background: var(--bg);

  
    
}

nav{
    z-index: 5;
 width: 99vw;
position: fixed;
    font-size: 1.5rem;
    color: var(--accent);
    
// backdrop-filter: blur(5px) !important;
padding: .5vw;
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    ul{
        align-items: center;

        justify-content: space-between;
        gap: 1rem;
        display: flex;
    }
    a{
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 1,
        'opsz' 48;
        
        text-decoration: none;
        color:inherit;
        transition: all .2s;


        display: flex;
        align-items: center;
        text-decoration: none;


        &:hover{
            color: white;
            font-variation-settings:  'FILL' 1,
            'wght' 4000,
            'GRAD' 0,
            'opsz' 48 !important;
        }
    }
    li{
        
        list-style: none;

    }
}
a,img{
    -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
}

@media (max-width:600px) {
    #hero{
      padding-top: 4rem !important;
       text-align: center;
       
    justify-content: center !important;
        flex-direction: column-reverse;
        div{
            justify-content: center;
        }
    }
    #rhero{
        #ProfilePic{
           
            // position: absolute;
            border-radius:var(--radius);
            height: 80vw !important; 
            width: 80vw !important;
     

            // background-size: 80vw !important;
            &:hover{
                background-size: 160vw !important;
             
                
                
            }
        }
    }
}
#Gallery{
    min-height: 100vh;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    overflow: scroll;
    scroll-snap-type: x  mandatory;
    img,video{
        scroll-snap-align: center;
        border-radius: var(--radius);
        height: min(70vh,70vw);
    
        object-fit: cover;
        
        aspect-ratio: 1/1;
    }
}
#hero{
    font-family: 'Titillium Web', sans-serif;
    margin: auto;
    height: 100vh;
    width:80vw;
    display: flex;
    align-items: center;

    justify-content: space-around;
    #lhero{

        display: flex;
        flex-direction: column;
        gap: 2rem;
    color: white;

    #name{
        color:var(--accent);  
         font-family: 'Cinzel', serif;
    }
    #dev{
        color:var(--accent2);  
         font-family: 'ubuntu-mono', monospace;
    }
    #artist{
        color:var(--accent3);  
         font-family: 'Fredoka One', cursive;
    }
    p{
        font-size: min(3rem,5vw);
        white-space: nowrap;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    a{
        border-radius: var(--radius);
        

        font-size: min(1.5rem,2.8vw);
        border: .01px solid white;
       padding: .6rem;

        text-decoration: none;
        color: aliceblue;
        transition: color ,background-color ;
        transition-duration: .2s;
        &:hover{
color: var(--bg);
            background:var(--accent);
        }
    }
    }
    #rhero{

        #ProfilePic{
 
            overflow: auto;
            background-image: url(../Media/Images/RhysVectorBG.png);
            background-position: 50% 60%;
            border-radius:var(--radius);
            height: min(50vh, 50vw);
            width:  min(50vh, 50vw);
            transition: background-size .4s,scale .3s;
            // rotate: 3deg;
            background-size: min(50vh, 50vw);
            &:hover{
                background-size: min(80vh, 80vw);
                background-position: 50% 60%;
                //  scale: 0.95;
                rotate: 0deg;
                
            }
        }
    }
}

    #showreel{
            margin-bottom: 4rem;
        
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
     video{
         position: relative;

        border-radius: var(--radius);
         width: 70vw;
         box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.411);
     }
     h1{
         font-family: 'Cinzel', serif;
         position: relative;
 
      text-align: end;
         color: var(--accent);
         font-size: 4vw;
     
     }
     }
#Preloader{
    transition:  400ms 1.2s;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    video{
        height:min(80vw,80vh);
        width: min(80vw,80vh);
        border-radius: 100vw;
        object-fit: cover;
    }
}

@media (min-width:600px) {
    #showreel{

     video{
         left: 8vh;
     }
     h1{
         left: -8vh;     
     }
     } 
}

@media (max-width:600px) {
    #showreel{
       
  
        align-items: center !important;
        flex-direction: column-reverse;
        justify-content: center !important;
        h1{
            font-size: 8vw;
            text-align: center !important;
        }
        video{
            width: 90vw;
        }
        

}
}

.project{
    
border-radius: 2vw;
    box-shadow: 1vw 1vw var(--accent);

}

#top{
    H1{
    
        background: var(--accent);
    }
}

#contact{

    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;

    place-items: center;
    position: fixed;
    background: #01010134;
    backdrop-filter: blur(8px);
    #card{
        :nth-child(4){
            //EXIT
            &:hover{

                background: #ce3c5e;
            }
        }
        z-index: 100;

        position: absolute;
        border-radius: var(--radius);
        background: rgb(18, 18, 18) !important;
        backdrop-filter: blur(1000px);
        width: 45rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:.2rem;
        padding:.5rem;

       #message,button,input{
        color: aliceblue;
        backdrop-filter: blur(1000px);
        background: rgba(0, 0, 0, 0.8);
        border-style: none;
        border-radius: var(--radius);
        transition: 500ms;
       
        &:hover{
            background: rgba(8, 8, 8, 0.9); 
        }
       }
        #message{
           resize: none;
         height: 90%;
        }
        button{
            font-weight: bold;
            height: 10%;
            &:hover{
                background: var(--accent); 
                color: #010101;
            }
        }
    div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input{
            height: 1.5rem;
            width: 49.2%;
            &:-webkit-autofill{
                -webkit-box-shadow: 0 0 0px 1000px var(--accent) inset;
                background-color: transparent;
            }
         
        }
    }
      
    }


}

@media (max-width:600px) {
    #contact {

        div{
            gap: 1%;
        }
        background: #010101;
    #card{
   
        position: absolute;
       
        top: 80px;
        background: none !important;
     width: 95vw;
    } 
    
    #message,button,input{
        color: rgb(0, 0, 0) !important;
    
        background: rgb(255, 255, 255) !important;
        border-style: none;
        border-radius: 5px !important;
        transition: 500ms;
       
        &:hover{
            background: rgb(179, 231, 245) !important;; 
        }
       }
}
 }
