@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Lexend", sans-serif;
}

:root {
  --accent: rgb(98, 1, 255);
  --accent2: rgb(1, 103, 255);
  --link: rgb(39, 1, 255);
  --link0: rgb(0, 154, 185);
}

#resumeItems {
  display: grid;
  gap: 1vh;
  width: 80vw;
}

@media print {
  #resumeItems {
    display: grid;
    gap: 1vh;
    width: auto !important;
  }
}
a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--link0);
  transition: 0.4s;
}

#item {
  font-size: 0.9em;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2vh;
}
#item #title {
  font-weight: 600;
  font-size: 1.6em;
  padding: 10px;
}
#item #content {
  font-size: 0.9em;
  padding: 10px;
}
#item #content .hightlight {
  font-size: 1.3em;
  font-weight: 400;
}

.hightlight {
  color: var(--accent);
}

hr {
  border: 0.1emvh solid black;
}

.jobLink {
  text-decoration: none;
}
.jobLink:hover {
  color: var(--accent2);
}

.DateAndPlace {
  font-size: 1em;
  font-weight: 400;
  color: rgb(38, 5, 130);
}