@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Lexend', sans-serif;
}
:root{
    --accent: rgb(98, 1, 255);
    --accent2: rgb(1, 103, 255);
    --link: rgb(39, 1, 255);
}
#resumeItems{
    display: grid;
    gap: 1vh;
    width: max(80vw);
}
@media print {
    #resumeItems{
        display: grid;
        gap: 1vh;
        width: auto !important;
    } 
}

a{
    text-decoration: none;
    text-decoration: underline;
    color: var(--accent);
}
#item{
    font-size: .9em;
    font-weight: 300;
    //background: rgb(108, 108, 108);
    display: grid;
    grid-template-columns:1fr 4fr ;
    gap: 2vh;
    #title{
        font-weight: 600;
        font-size: 1.6em;
        padding: 10px;
    //background: hsl(0, 0%, 80%);

}
    #content{
        font-size: .9em;
        .hightlight{
            font-size: 1.3em;
            font-weight: 400;
        }
        padding: 10px;
     
        //background: hsl(0, 0%, 80%);
    }
    
}
.hightlight{
    color:var(--accent);
}
hr{
    border: .1emvh solid black;
}

.jobLink{
    text-decoration: none;
    &:hover{
        color: var(--accent2);
    }
}

.DateAndPlace{
    // font-style: italic;
    font-size: 1em;
    font-weight: 400;
    color: rgb(38, 5, 130);
}