@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");
* {
  margin: 0%;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "DynaPuff", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: min(3vw, 3vh);
  width: min(80vw, 80vh);
  height: min(80vw, 80vh);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

h1 {
  display: flex;
  align-items: auto;
  justify-content: center;
  width: 100VW;
  font-size: min(5vw, 5vh);
}

.tile {
  border-radius: inherit;
  color: rgb(255, 255, 255);
  background: rgb(68, 127, 255);
  font-size: min(15vw, 15vh);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-self: center;
  width: min(22vw, 22vh);
  height: min(22vw, 22vh);
  transition: transform 0.1s, background-color 0.4s;
}

h3 {
  overflow: hidden;
  font-size: 4vw;
  cursor: pointer;
}