@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");


#top{
   H1{

    padding: 5vw;
    border-radius: 2vw;
   }
   span{
    animation: blink 2s infinite ;
   }
    display: flex;
    padding: 40PX;
    align-items: center;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    
    font-weight: 500;
    line-height: 10vw;
    font-size: 6vw;

   
}
#main{
    
    display: flex;
    flex-direction: column;
    gap: 10vw;
    justify-content: center;
   }
.l{
    align-self: center;
    
}
.r{
    align-self: center;
  
}  

@media (min-width:375px) {
   
    .l{
        align-self: flex-start;
        transform: translateX(40px);
    }
    .r{
        align-self: flex-end;
        transform: translateX(-40px);
    } 
}

.activity{
    font-weight: 300;
    font-size: 2vw;
}
.active{
    color: #ffffff;
    text-shadow: 0vh 0vh 1vw #4400ff;
    &::after{
        content: " Active";
    }
}
.inactive{
    color: #7ee1fa; 
    &::after{
        content: " Complete";
    }
}



.project{
    
   border-radius: 2vw;
    
    font-family: 'MuseoModerno', cursive;
    color: white;
    
    width: 60vw;
    height: 40vw;
    @media (max-width:375px) {
        width: 80vw;
        height: 60vw;
       img{
        height: 60vw !important;
        width: 22vw !important; 
        image-rendering: optimizeSpeed;
       }
       #text{
        font-size: 3.5vw !important;
       }
       #name{
            font-size: 5vw !important;
       }
    }
    padding: 2vw;
    display:grid;
    grid-template-columns: 2fr 1fr ;
    gap: 1vw;

    background: #0D0D0D;
    #name{
        white-space:nowrap;
        font-size: 4vw;
   
    }
    #text{
        font-weight: 200;
     
        font-size: 2vw;
    }

        
    img{
        object-fit: cover;
        height: 40vw;
        max-width: 22vw;
        border-radius: inherit;
        box-shadow: .6vw .6vw .4vw rgb(0, 0, 0);
        
    }
    
    .links{
        font-size:2vw;
        display: flex;
        align-items: flex-end;
        position: relative;
        gap: 2vw;
        a{
            
            text-decoration: none;
            color: rgb(0, 255, 240);  
            transition: color .5s, text-shadow .5s;
            &:hover{
                text-shadow: 0vh 0vh 1vh rgb(0, 255, 240);
                color: #ffffff;
                
                &::after{
                    
                    filter: invert(1);
                    transform: translate(.5vw, -.5vw);
                }
            }
            &::after{
                
                transition: transform .2s,filter .1s;
                display: inline-flex;
                content: '';
                background-size: 2vw 2vw;
                height: 2vw;
                width: 2vw;
                filter: invert(94%) sepia(34%) saturate(2139%) hue-rotate(92deg) brightness(101%) contrast(110%);
                background-image: url(/Media/Images/LinkArrow.svg);


            }
        }
        
    }
    .TextContainer{
        max-height: 40vw;
        
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
  
    }
}

#footer{
    
    margin-top: 15vw;
    max-width: 100vw;

    height: 24vw;
    background: #0D0D0D;
    display: flex;
    flex-direction: column-reverse;
    font-size: 2vw;
    padding-left: 1vw;
    padding-bottom: 1vw;
    font-family: 'MuseoModerno', cursive;

    a{
        transition: color .5s, text-shadow .5s;
        text-decoration: none;
        color: rgb(0, 255, 240);
        &:hover{
            text-shadow: 0vh 0vh 1vh rgb(0, 255, 240);
            color: #ffffff;
        }

    }
}

@keyframes blink {
    1% ,100%{
        opacity: 100%;
     
    }
    50%{
        opacity: 0%;
        
    }
    
}

#cursor{
    //transition: transform .1s ease;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
    background: rgb(0, 0, 0);
    pointer-events: none;
    @media (prefers-color-scheme: dark){
        background: rgb(255, 255, 255);
    }
  
    @media (max-width:375px) {
        opacity: 0;
    }
   
}



