*{
    margin: 0%;
    padding: 0%;
    font-family: 'Exo', sans-serif;
}
.name{
    font-weight: 900;
    color: rgb(132, 198, 255);
    font-size: 3vw;
    position: absolute;
    right: 5vw;
    transition: color .4s;
}
.name:hover{
    color: rgb(174, 216, 253);
}
.navbar{
    z-index: 1;
    position: fixed;
    background-color: #0f0f0f;
    max-height: 20vh;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content:safe;
    padding-left: 1vw;
    width:100vw ;
   
}

.navbar-button{
    
    
    margin-left: .3em;
    background-color: rgb(15, 15, 15);
    padding-top: .5vh;
    padding-bottom: .5vh;
    border-radius:.3em;
    padding: 1vw;  
    transition: background-color .5s;
}
.navbar-button:hover{
    background-color: #818181;
}
.navbar-button-link{
    font-size: 2vw;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    

}

body{
    background: linear-gradient(to  top, #050505 , rgb(9, 30, 36));
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
    padding-top: 10vw;
    padding-left: 2vw;
}
.image{
   filter: brightness(80%);
    height: 45vh;
    border-radius: 2vw;
    transition: height .2s, filter 1s;
}
.image:hover{
    filter: brightness(100%);
    height: 45.5vh;
}

.end{
    background-color: #000000;
    color: aliceblue;
    font-size: 2em;
}