*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    margin-left: 3vw;
    background: hsl(0, 0%, 10%);
    padding-bottom: 15vh;
    padding-top: 2vh;
    
}
.round{
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    
    font-size: 1em;
    padding: .5rem;
    border-width: 1px;
    font-weight: 1000;
    box-shadow: none;
    
}

.inputs{
    margin-top: 5vh;
    
    display: flex;
    flex-wrap:wrap;
    gap: 1vw;
    

}

.pdf{
    font-size: 1.2em;
    
    margin-top: 5vh;
    
    height: 40vw;
    width: 40vw;
    border-radius: 20px;
    color: black;
    filter: blur(0.5px);
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1) 10ms;
    border: 5px black;
    
}
.pdf:hover{
    filter: brightness(120%) blur(0px);
    transform:translateY(-10px);
    border-radius: 15x;
    font-size: 1.15em;   
    border-color: #9ecaed;
    box-shadow: 0 0 5px 2px #1e9aff;
}

.text{
    padding-top: 20px;
    padding-left:10px ;
    font-family: 'Roboto Condensed', sans-serif;
}

a{  
    height: 40vw;
    width: 40vw;
    text-decoration: none;
   
}

.papers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3vw;
    
    padding-right: 3vw;
}

.Math{
    background: #f17086;
}
.Physics{
    background: #bd70f1;
}
.Computer{
    background: #70ccf1;
}
.Civil{
    background: #28a14c;
}
