*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    margin-left: 3vw;
    background: hsl(0, 0%, 10%);
    padding-bottom: 15vh;
    padding-top: 2vh;
    
}
.round{
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    
    font-size: 1em;
    padding: .5rem;
    border-width: 1px;
    font-weight: 1000;
    box-shadow: none;
    
}

.inputs{
    margin-top: 5vh;
    
    display: flex;
    flex-wrap:wrap;
    gap: 1vw;
    

}

.pdf{
    font-size: 1.2em;
    
    margin-top: 5vh;
    background: #76ddff;
    height: 15rem;
    width: 15rem;
    border-radius: 20px;
    color: black;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1) 10ms;
    
    
}
.pdf:hover{
    background: #aeebff;
    transform:translateY(-5px);
    border-radius: 15x;
    font-size: 1.15em;
    
    
    
}

.text{
    padding-top: 20px;
    padding-left:10px ;
    font-family: 'Roboto Condensed', sans-serif;
}

a{  
    height: 15rem;
    width: 15rem;
    text-decoration: none;
   
}

.papers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3vh;
    padding-right: 2vw;
}

