:root{
    --box-size:22vw
}

*{
    margin: 0px;
    
}
body{
    margin-left: 3vw;
    background: hsl(0, 0%, 10%);
    padding-bottom: 15vh;
    padding-top: 2vh;
    
}
.round{
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    
    font-size: 1em;
    padding: .5rem;
    border-width: 1px;
    font-weight: 1000;
    box-shadow: none;
    
}

.inputs{
    margin-top: 5vh;
    
    display: flex;
    flex-wrap:wrap;
    gap: 1vw;
    

}

.pdf{
    font-size: 1.2em;
    
    margin-top: 5vh;
    
    height: var(--box-size);
    width: var(--box-size);
    border-radius: 20px;
    color: black;
    
    transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1) 10ms;
    border: 5px black;
    
}
.pdf:hover{
    filter: brightness(125%) blur(0px);
    transform:translateY(-2vh);
    border-radius: 10px;
    font-size: 1.15em;   
    border-color: #9ecaed;
    box-shadow: 0 0 5px 2px #1e9aff;
}



.text{
    font-size: calc(var(--box-size)/8);
    padding-top: 1vw;
    padding-left: 1vw ;
    
}

#link{  
    height: var(--box-size);
    width: var(--box-size);
    text-decoration: none;
   
}

.papers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3vw;
    
    padding-right: 3vw;
}

.Pdfcontainer{
    margin-top: 2vh;
    background: hsl(0, 0%, 15%);
    border-radius: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3vw;
    column-gap: 1vw;
    padding-bottom: 10vh;
    padding-left: 1vw;
    padding-right: 1vw;
}








.Math{
    font-family: 'Roboto Condensed', sans-serif;
    background: #da415a;
}

.Physics{
    background: #bd70f1;
}
.Computer{
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: thin;
    background: #050706;
    color: rgb(0, 255, 34);
}
.Civil{
    background: #28a14c;
    
}

.year{
    
    border-radius: 8px;
    padding-bottom: 1vh;
    
}


.sem1{
    background-color: rgb(175, 175, 175);
}
.sem2{
    background-color: rgb(0, 141, 106) 
}