*{
    margin: 0%;
    padding: 0%;
    font-family: 'Exo', sans-serif;
}

.video-container{
    width: 100vw;
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    background-color: antiquewhite;
    padding-bottom: 4vw;
    
}
.video img{
    background-color: rgb(0, 0, 0);
    
    
   
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1),border-radius .2s,filter .5s ;
}
.video img:hover{
    filter: brightness(105%);
    
    transform: scale(101%) translateY(-.5vh);
}








@media(min-width:425px){
    body{
        background: antiquewhite;
    }
    .image-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vh;
        padding-top: 15vw;
        padding-bottom: 4vw;
        padding-left: 2vw;
    }
    .image{
       
        height: 45vh;
        border-radius: 2vw;
       
        transition: transform .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .image:hover{
        
        transform: scale(103%);
    }
    .end{
        background-color: #000000;
        color: aliceblue;
        font-size: 2em;
    }
    .video img{
        height: 45vh;
        border-radius: 1.5vh;
    }
   
}

@media(max-width:425px){
    body{
        background:antiquewhite; 
     }
    .image-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vh;
        
        padding-top: 15vh;
        padding-bottom: 4vw;
        padding-left: 2vw;
    }
    .image{
       
        width: 90vw;
        border-radius: 2vw;
       
        transition: transform .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .image:hover{
         
        transform: scale(105%);
    }
    .end{
        background-color: #000000;
        color: aliceblue;
        font-size: .5em;
    }
    .video img{
        width: 90vw;
        border-radius: 2vw;
    }

   
}


