*{
    margin: 0%;
    padding: 0%;
    font-family: 'Exo', sans-serif;
}












@media(min-width:425px){
    body{
        background: rgb(34, 34, 34);
    }
    .image-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vh;
        padding-top: 10vw;
        padding-bottom: 4vw;
        padding-left: 2vw;
    }
    .image{
       
        height: 45vh;
        border-radius: 2vw;
       
        transition: transform .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .image:hover{
        
        transform: scale(105%);
    }
    .end{
        background-color: #000000;
        color: aliceblue;
        font-size: 2em;
    }
   
}

@media(max-width:425px){
    body{
        background: linear-gradient(to top, coral, rgb(127, 187, 255));
    }
    .image-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vh;
        padding-top: 10vw;
        padding-bottom: 4vw;
        padding-left: 2vw;
    }
    .image{
       
        height: 25vh;
        border-radius: 2vw;
       
        transition: transform .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .image:hover{
         
        transform: scale(105%);
    }
    .end{
        background-color: #000000;
        color: aliceblue;
        font-size: .5em;
    }
   
}