*{
    margin: 0px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 100;
}


.gameBox{
    
    height: 80vh;
    width: 80vw;
    background: rgb(32, 32, 32);
    border-radius: 30px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(124, 255, 255);
    font-size: 3em;
    
    transition: all cubic-bezier(.35,1,.2,.92) 1s;
    
}
.gameBox:hover{
    color:#d1a1fd;
 
    background: rgb(0, 0, 0);
    height: 81vh;
    width: 83vw;
    font-size: 2em;
    border-radius: 20px;
}
.games{
    background: linear-gradient(to right top,#d1a1fd,#7cb3fa);
    
    display: grid;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

hr{
    width: 100%;
    height: .2rem;
    border-style: none;
    background: black;
    border-radius: 10px;
    list-style: decimal;
}

.coming_soon{
    
    filter: blur(10px);
}

.homebutton{
    height: 10vh;
    width: 20vh;
    background: orangered;
    border-radius: 5px;
    margin-left: 1rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4em;
    transition: all .7s;
}

.homebutton:hover{
    animation-name: Wiggle;
    animation-duration: 1s;
    background: rgb(116, 57, 255);
}
