input{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 30vw;
    
    font-family: 'Gruppo', cursive;
    font-size: 2.5em;
    padding: .5rem;
    
}

.papers{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.paper{
    border-radius: 10px;
    width: 80vw;
    height: 90vh;
    margin-bottom: 20vh;
}
body{
    display: grid;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to right top,rgb(36, 142, 241),rgb(144, 47, 255));
}