*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(19, 19, 19);
}

.tech_text{
    color: greenyellow;
    font-family: 'Raleway', sans-serif;
    margin-left: 5vw;
    margin-top: 5vh;

}

.proBox{
    margin: 5vw;
    
    width: 87vw;
    padding-bottom: 30vh;
    background: black;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding-left: 0px;
    
}

.cmdtxt{
    
    margin: 5px;
    color: rgb(255, 255, 255);
    
    
}
.homebutton{
    height: 10vh;
    width: 20vh;
    background: orangered;
    border-radius: 5px;
    
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4em;
    transition: all .7s;
}

.homebutton:hover{
    height: 12vh;
    width: 22vh;
    background: rgb(116, 57, 255);
}


.ArtBody{
    font-family: 'Raleway', sans-serif;
    
    margin:5vh ;
    background: linear-gradient(to right top,rgb(126, 197, 126),rgb(146, 144, 238),rgb(255, 71, 148));
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-items: center;
}

.box{
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.548);
    height: 30rem;
    width: 30rem;
    background: rgb(255, 255, 255);
    border-radius:2vh;
    margin-top: 1rem;
    margin-left: 1rem;
    transition: all .4s;
    overflow: hidden;
   
  
}

.box:hover{
    height: 32rem;
    width: 32rem;
}