*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(19, 19, 19);
}

.tech_text{
    color: greenyellow;
    font-family: 'Raleway', sans-serif;
    margin-left: 5vw;
    margin-top: 5vh;

}

.proBox{
    margin: 5vw;
    
    width: 87vw;
    padding-bottom: 30vh;
    background: black;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding-left: 0px;
    
}

.cmdtxt{
    
    margin: 5px;
    color: rgb(255, 255, 255);
    
    
}
.homebutton{
    height: 10vh;
    width: 20vh;
    background: orangered;
    border-radius: 5px;
    margin-left: 1rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4em;
    transition: all .7s;
}

.homebutton:hover{
    animation-name: Wiggle;
    animation-duration: 1s;
    background: rgb(116, 57, 255);
}


.ArtBody{
    font-family: 'Raleway', sans-serif;

    
    margin:5vh ;
    background: linear-gradient(to right top,rgb(126, 197, 126),rgb(146, 144, 238),rgb(255, 71, 148));
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-items: center;
}

.box{
    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.548);
    height: 30rem;
    width: 30rem;
    background: rgb(255, 255, 255);
    border-radius:2vh;
    margin-top: 1rem;
    margin-left: 1rem;
    transition: all .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
   
  
}

.box:hover{
    animation-name: Wiggle;

    animation-duration: 1s;
    animation-timing-function: ease-in-out;
   
    
    border-radius: 4vh;
    background: linear-gradient(to right top, rgb(188, 119, 235),rgb(255, 201, 176));
}

.image{
    
    height: 40rem;
    object-fit:fill;
    transition: all .7s;
   
    filter: blur(1px) grayscale(50%);
}
.image:hover{
    height: 35rem;
   
    filter: blur(0px) grayscale(0%);
}

.A1{
    position: relative;
    text-decoration: none;
    color: rgb(88, 255, 233);
    left: 0vw;
    transition: left cubic-bezier(0.075, 1, 0, 1) 2s,color  cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}
.A1:hover{
    left: 3vw;
    color: rgb(252, 138, 62);
}

.links{
    font-family: 'Roboto', sans-serif;
    font-size: 15vw;
    margin-left: 2vw;
    
}


.Buttons{
    height: 10vh;
    width: 100vw;
    background: #58b5f3;
   
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.button{
    position: relative;
    
    height: 6vh;
    width: 20vw;
    background: #58b5f3;
    border-radius: 2vh;
    transition: all 0.6s;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  

}


.button:hover{
    width: 27vw;
    background: #ffffff;
}

@keyframes Wiggle {
    0% {transform-origin: center; transform: scale(100%);}
    50% {transform-origin: center; transform: scale(105%);}
    75% {transform-origin: center; transform: scale(105%);}
    100% {transform-origin: center; transform: scale(100%);}
   
    
}