
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --background_Color: #000505;
    --wireColor: white;
    --linkNormal:#6b6b6b;
    --linkHover:#ffffff;
    --accent:#00ffb3;
  }
::-webkit-scrollbar{
  width: 2px;
  background: var(--background_Color);
}
::-webkit-scrollbar-thumb{
  background: var(--accent);
}
  body {
    color: white;
    background: radial-gradient(
      159.58% 101.53% at 74.84% 50%,
      #000e0e 0%,
      #000505 32.91%,
      #111 100%
    );
  }

  .graph {
    --size: 30px;
    width: 100vw;
    height: 100vh;
    opacity: 0.01;
    filter: blur(0.2px);
    position: fixed;
    z-index: -1;
    background-image: linear-gradient(var(--wireColor) 1px, transparent 1px),
      linear-gradient(to right, var(--wireColor) 1px, transparent 1px);
    background-size: var(--size) var(--size);
  }

  .main {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }

  .text {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 450px;
    display: flex;
    flex-direction: column;
  }

  h7 {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 2em;
    background: linear-gradient(45deg, #3333ff, #00ff88);
    background-size: 200% auto;
    animation: gradient-animation 3s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 5em;
  }

  ul {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    color: #6b6b6b;
    /* background-color: aqua; */
    font-size: 1.4em;
    list-style: none;
  }

  li a {
    text-decoration: none;
    color: var(--linkNormal);
    transition: 0.2s;
  }

  li a:hover {
    color: var(--linkHover);
  }

  #ProfilePic {
    height: 450px;
    border-radius: 0 50% 0px 0px;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 900px) and (min-width: 600px) {
    .main {
      /* flex-direction: column-reverse; */

      gap: 10px;
    }

    #ProfilePic {
      height: 40vw;
    }

    h1 {
      font-size: 4em;
    }
  }

  @media (max-width: 600px) {
    .main {
      height: 80vh;
      flex-direction: column-reverse;
      justify-content: space-between;
    }

    #ProfilePic {
      height: 150px;
      width: 150px;
    }

    h1 {
      margin-top: 8px;
      font-size: 3.7em !important;
    }

    h7 {
      font-size: 2em;
    }

    @media (max-height: 768px) {
      ul {
        position: relative;
      }
    }
    @media (min-height: 768px) {
      ul {
        position: relative;
      }
    .main{
      justify-content: start;
    }

    }
  }

  @media (max-height: 768px) {
    h1 {
      font-size: 4em;
    }

    h7 {
      font-size: 2em;
    }

    ul {
      font-size: 1.4em;
    }
  }