#News{
    width: 90vw;
    // height: 100vh;
    // background: red;
    display: flex;
    justify-content: center;
    div{
   
        width: 50%;
        height: 100%;
        // background: rgb(122, 41, 41);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        .newsItem{
            
            aspect-ratio: 1/1;
            width: 97%;
            height: 26vw;
            border: 1px solid white;
        }
    }
   
}